.operation {
    outline: .1px solid lightgray;
    border-radius: 5px;
    padding: 5px 5vw;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.operation > section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.expand-button {
    border: .1px solid lightgray;
    border-radius: 3px;
    background-color: rgba(10, 10, 10, 0.45);
    cursor: pointer;
    height: 40px;
}

.expand-arrow {
    width: 30px;
    filter: invert(1);
}

.operation {
    animation: jumpIn 1s;
}

.operation .category-ico {
    width: 50px;
}