.edit-mode {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: azure;
    padding: 20px;
}

.edit-mode > img {
    width: 30px;
    cursor: pointer;
}

.edit-mode .submit-button {
    background-color: rgba(170, 26, 26, 0.897);
}

.edit-mode .submit-button[value='Edit operation'] {
    background-color: rgb(160, 160, 36);
    margin-bottom: 15vh;
}

.edit-mode > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 50%;
}

.edit-mode img[alt='quit'] {
    background-color: rgb(110, 108, 108, 0.9);
    margin-top: 10px;
    border-radius: 50%;
    padding: 5px;
}

.edit-mode > form > textarea:nth-child(1) {
    text-align: center;
    padding-top: 5px;
    border: .1px solid lightgrey;
    border-radius: 2px;
    width: 35%;
}

.edit-mode > form > input:nth-child(2) {
    text-align: center;
    border: .1px solid lightgrey;
    border-radius: 2px;
    width: 35%;
    padding: 5px 0;
}

.edit-mode > form > input:nth-child(3) {
    text-align: center;
    border: .1px solid lightgrey;
    border-radius: 2px;
    width: 35%;
    padding: 2px 0;
}

.edit-mode > form > input:nth-child(4) {
    text-align: center;
    width: 25%;
    padding: 2px 0;
    cursor: not-allowed;
}

.edit-mode > form > select:nth-child(5) {
    text-align: center;
    border: .1px solid lightgrey;
    border-radius: 2px;
    width: 25%;
    padding: 3px 0;
    cursor: pointer;
}

.edit-mode > form > select:nth-child(5):disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 900px) {
    .edit-mode > form {
        width: 100%;
    }
}